In [ ]:
import pandas as pd
import numpy as np

## First let's start by reading the data and selecting only the first 200 users

In [ ]:
ratings=pd.read_csv('ratings.csv')

In [ ]:
movies=pd.read_csv('movies.csv')

In [ ]:
ratings_200=ratings[ratings.userId<=200]
movieids=np.array(ratings_200.movieId)

## Filtering the movies to those from the first 200 users only

In [ ]:
movies_200=movies.loc[movies.movieId.isin (movieids) ]

In [ ]:
ratings_200

       userId  movieId  rating   timestamp
0           1        1     4.0   964982703
1           1        3     4.0   964981247
2           1        6     4.0   964982224
3           1       47     5.0   964983815
4           1       50     5.0   964982931
...       ...      ...     ...         ...
29263     200    60074     3.5  1229887390
29264     200    61024     4.0  1229889835
29265     200    61323     4.0  1229887427
29266     200    62299     3.5  1229876803
29267     200    63433     4.0  1229887817

[29268 rows x 4 columns]

In [ ]:
movies_200

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9736,193579,Jon Stewart Has Left the Building (2015),Documentary
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation

### Merge the two tables on movieId

In [ ]:
data=ratings_200.merge(movies_200,on='movieId')

In [ ]:
data

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
29263,200,27685,2.0,1229878742,Bring It On Again (2004),Comedy
29264,200,34321,3.0,1229877839,Bad News Bears (2005),Children|Comedy
29265,200,45106,3.0,1229877358,American Dreamz (2006),Comedy|Drama
29266,200,50802,3.0,1229878025,Because I Said So (2007),Comedy|Drama|Romance
29267,200,62299,3.5,1229876803,Alone in the Dark II (2008),Action|Horror

### Now we will make a pibot table based on user ratings and movies only and fill movie that the user has not watched with 0

In [ ]:
pivot_table_user = pd.pivot_table(data=data,values='rating',index='userId',columns='title')
pivot_table_user

title,'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",(500) Days of Summer (2009),00 Schneider - Jagd auf Nihil Baxter (1994),1-900 (06) (1994),10 (1979),10 Cent Pistol (2015),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),...,Zombie Strippers! (2008),Zombieland (2009),Zookeeper (2011),Zoolander (2001),Zootopia (2016),Zulu (1964),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,2.0
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN

### now we will subtract the mean from the ratings so the data is centered around 0 (clearer ratings) and not affected by the movies that the user has not watched as the mean will be zero

In [ ]:
user_ratings_mean = np.nanmean(pivot_table_user,axis=1 )
user_ratings_mean.reshape(-1,1)

demeaned_pivot = pivot_table_user - user_ratings_mean.reshape(-1,1)
demeaned_pivot=demeaned_pivot.fillna(0)
demeaned_pivot

title,'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",(500) Days of Summer (2009),00 Schneider - Jagd auf Nihil Baxter (1994),1-900 (06) (1994),10 (1979),10 Cent Pistol (2015),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),...,Zombie Strippers! (2008),Zombieland (2009),Zookeeper (2011),Zoolander (2001),Zootopia (2016),Zulu (1964),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,-0.366379
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,-0.948276,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.000000
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.000000
197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.000000
198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.491304,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.0,1.508696,0.0,-1.491304
199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.00000,0.0,0.0,0.0,0.000000,0.0,0.000000
200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.190120,...,0.0,0.000000,0.0,1.19012,0.0,0.0,0.0,0.000000,0.0,0.000000

### Now we will compute the similarity matrix according to the cosine similarity function

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(demeaned_pivot.T)
cosine_sim.shape

(5594, 5594)

In [ ]:
similarity_df1 = pd.DataFrame(cosine_sim, columns=demeaned_pivot.columns, index=demeaned_pivot.columns)

In [ ]:
similarity_df1

title,'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",(500) Days of Summer (2009),00 Schneider - Jagd auf Nihil Baxter (1994),1-900 (06) (1994),10 (1979),10 Cent Pistol (2015),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),...,Zombie Strippers! (2008),Zombieland (2009),Zookeeper (2011),Zoolander (2001),Zootopia (2016),Zulu (1964),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
'Tis the Season for Love (2015),0.0,1.0,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,-0.366479,0.000000,0.0,0.000000,0.000000,0.000000
"'burbs, The (1989)",0.0,0.0,1.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.016212,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.315635,0.141728,0.060376
(500) Days of Summer (2009),0.0,0.0,0.000000,1.000000,0.055407,0.0,0.0,0.0,0.053723,-0.019124,...,-0.158303,-0.119980,0.0,0.063042,-0.018479,0.000000,0.0,-0.251466,-0.036875,0.040279
00 Schneider - Jagd auf Nihil Baxter (1994),0.0,0.0,0.000000,0.055407,1.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,-0.265275,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zulu (1964),0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.0,0.000000,0.122917,0.000000
anohana: The Flower We Saw That Day - The Movie (2013),0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000
eXistenZ (1999),0.0,0.0,0.315635,-0.251466,0.000000,0.0,0.0,0.0,0.034038,-0.292302,...,0.000000,0.000000,0.0,-0.001504,0.029569,0.000000,0.0,1.000000,0.151419,-0.269302
xXx (2002),0.0,0.0,0.141728,-0.036875,0.000000,0.0,0.0,0.0,0.000000,-0.017813,...,0.057746,-0.021062,0.0,0.015635,-0.022151,0.122917,0.0,0.151419,1.000000,-0.014188
¡Three Amigos! (1986),0.0,0.0,0.060376,0.040279,0.000000,0.0,0.0,0.0,0.000000,0.341489,...,-0.245706,0.108512,0.0,0.068329,-0.028564,0.000000,0.0,-0.269302,-0.014188,1.000000

### now create a function to get the 10 most similar movies according to the similarity matrix score

In [ ]:
def get_similar_movies(movie_title, top_n=10):
    # Get the similarity scores for the given movie
    similarity_scores = similarity_df1[movie_title]

    # Sort the similarity scores in descending order and select the top N similar movies
    similar_movies = similarity_scores.sort_values(ascending=False).index[:top_n]


    return similar_movies

In [ ]:
similar_movies_1 = get_similar_movies("Toy Story (1995)"
                                     )

In [ ]:
similar_movies_1

Index(['Toy Story (1995)', 'Wallace & Gromit: The Wrong Trousers (1993)',
       'Aladdin (1992)', '400 Blows, The (Les quatre cents coups) (1959)',
       'Ghostbusters (a.k.a. Ghost Busters) (1984)',
       'Wallace & Gromit: A Close Shave (1995)', 'Pride and Prejudice (1995)',
       'Santa Clause, The (1994)', 'Nightmare Before Christmas, The (1993)',
       'Incredibles, The (2004)'],
      dtype='object', name='title')

In [ ]:
similar_movies_2 = get_similar_movies("Waiting to Exhale (1995)"
                                     )

In [ ]:
similar_movies_2

Index(['Waiting to Exhale (1995)', 'Paper, The (1994)', 'Love Affair (1994)',
       'Speechless (1994)', 'Mr. Wrong (1996)', 'Mallrats (1995)',
       'City Hall (1996)', 'Tom & Viv (1994)', 'Private Benjamin (1980)',
       'Tie Me Up! Tie Me Down! (¡Átame!) (1990)'],
      dtype='object', name='title')

###  We got fairly reasonable results for both  queries as the most similar movie to each film is obviously itself but if want 10 other movies we could pass 11 to the function and slice the result to not include the first answer

### recommend movies to a user (200)

In [ ]:
# first we will access the user

In [ ]:
user_ratings = demeaned_pivot.loc[199]

In [ ]:
# get highest 85% rated movies

In [ ]:
top_rated_movies = user_ratings[user_ratings >= user_ratings.max()*0.85].index.tolist()
print(top_rated_movies[:5])
print(len(top_rated_movies))

['Airplane! (1980)', 'American Beauty (1999)', 'Apocalypse Now (1979)', 'Austin Powers: International Man of Mystery (1997)', 'Blade Runner (1982)']
36

### get the user similarity matrix to recommend movies from similar users

In [ ]:
cosine_sim = cosine_similarity(demeaned_pivot)
cosine_sim.shape

(200, 200)

In [ ]:
similarity_df = pd.DataFrame(cosine_sim, columns=demeaned_pivot.index, index=demeaned_pivot.index)

In [ ]:
# Get top 3 similar users for a user # starting from 1 to not get the same user
top_similar_users = similarity_df[200].sort_values(ascending=False)[1:4].index

# Compute weighted sum of movie ratings for similar users
weighted_sum = demeaned_pivot.loc[top_similar_users].mul(similarity_df.loc[199, top_similar_users], axis=0).sum()

# Get top recommended movies
top_recommended_movies = weighted_sum.sort_values(ascending=False)[:3].index.tolist()

In [ ]:
top_recommended_movies

['Star Wars: Episode IV - A New Hope (1977)',
 'Matrix, The (1999)',
 'American Beauty (1999)']

In [ ]:
top_similar_users

Int64Index([62, 68, 72], dtype='int64', name='userId')

### now we will use another approach by using the most similar movies to the top rated movies by the user

In [ ]:
user_ratings = demeaned_pivot.loc[199]
top_rated_movies = user_ratings[user_ratings >= user_ratings.max()*0.85].index.tolist()

# Compute the weighted sum of the cosine similarity between the user's top rated movies and all other movies
weighted_sum = demeaned_pivot[top_rated_movies].mul(similarity_df1[top_rated_movies], axis=0).sum()

# Select the top N movies with the highest weighted sum
recommended_movies_ids = weighted_sum.sort_values(ascending=False).index.tolist()

In [ ]:
recommended_movies_ids[:3]

['Airplane! (1980)', 'American Beauty (1999)', 'M*A*S*H (a.k.a. MASH) (1970)']